body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}
.title {
    color: darkred;
}
.author {
    text-align: right;
    font-style: italic;
}
table {
    margin: auto;
}
th,td {
    padding: 6px;
}
tbody tr:nth-child(odd) {
    background-color: #DDD;
}
tbody tr:hover {
    font-weight: bold;
    cursor: default;
}
button {
    cursor: pointer;
}